.rangos h1 {
  text-align: center;
}
.rangos {
  width: 95%;
  margin: auto;
  background-color: #00000099;
  backdrop-filter: blur(5px);
}
.rangos-list {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  place-content: center;
  gap: 20px;
}
.elemento-rango {
  position: relative;
  background-image: url("../img/oro.jpg");
  background-position: 50%;
  overflow: hidden;
  border: 3px solid #ffffffae;
}
.oro {
  background-image: url("../img/oro.jpg");
}
.diamante {
  background-image: url("../img/diamante.jpg");
}
.redstone {
  background-image: url("../img/redstone.jpg");
}
.esmeralda {
  background-image: url("../img/esmeralda.jpg");
}
.RangoElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 2rem;
  background-color: #00000051;
  backdrop-filter: blur(3px);
}
.RangoElement img {
  width: 70px;
}
.linea-separadora {
  width: 90%;
  margin: 2rem auto;
  height: 5px;
  background-color: #fff;
}
.RangoElement p {
  text-align: center;
  font-size: 1.4rem;
  text-shadow: 2px 2px 1px #000;
}
.RangoElement button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: #ffffffd5;
  color: #000000;
  cursor: pointer;
}
.RangoElement button:hover {
  transition: 0.4s all;
  color: #fff;
  background-color: rgba(130, 125, 125, 0.733);
}
@media (max-width: 800px) {
  .rangos {
    width: 100%;
  }
  .rangos-list {
    grid-template-columns: repeat(auto-fill, 170px);
  }
}
